 <!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"/>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title>Anime</title>
  </head>
  <body>
  <header class="header">
    <div class="logo">
        <a href="../index.html"><img src="../img/332_170898416 1.png" alt="logo"></a>
    </div>
    <nav class="menu">
        <ul>
            <a href="../index.html">
                <li>Main</li>
            </a>
            <a href="#">
                <li>Anime</li>
            </a>
            <a href="../Genres/genres.html">
                <li>Genres</li>
            </a>
            <a href="#">
                <li>New products</li>
            </a>
        </ul>
    </nav>
    <form>
      <input type="text" class="header__search" placeholder="Поиск" />
    </form>
    <div class="sign">
        <ul>
            <a href="../registation/autorization.html">
                <li>Sign in</li>
            </a>
            <a href="../registation/autorization.html">
                <li>Sign up</li>
            </a>
        </ul>
    </div>
  </header>
    <div class="container">
      <div class="movies">
      </div>
      <div class="player">
        <div class = 'player_overlay hide'></div>
        <iframe src="" class = 'hide' id="player" frameborder="0" width="" height=""></iframe>
      </div>
    </div>
    <footer>
      <div class="screen7">
          <div class="copyright">
              <p>All rights reserved ©. 2022</p>
              <p>Design fulfilled: Krasotki Daniel</p>
          </div>
          <div class="about-wallets">
              <div class="abouts">
                  <a href="#">
                      <img src="../img/vk.png" alt="Vkontakte">
                  </a>
                  <a href="#">
                      <img src="../img/instagram.png" alt="instagram">
                  </a>
                  <a href="#">
                      <img src="../img/twitter.png" alt="Twitter">
                  </a>
                  <a href="#">
                      <img src="../img/facebook.png" alt="Facebook">
                  </a>
              </div>
          </div>
      </div>
  </footer>
    <script src="js/app.js"></script>
  </body>
</html> 
